/* #technologies-section > .technologies-header{
    font-size: 30px;
    font-weight: bold;  
    margin: auto;
    width: fit-content;
} */

#technologies-section > .technologies{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 90vw;
    /* border: 2px solid red; */
}

#technologies-section > .technologies > .technology-wrapper > .technology{
    display: grid;
    border: 2px solid var(--primary);
    border-radius: 10px;
    height: 75px;
}

#technologies-section > .technologies > .technology-wrapper > .technology > img{
    margin: auto;
    height: auto;
    width: 50%;
}

#technologies-section > .technologies > .technology-wrapper > .technology-name{
    margin-top: 10px;
    text-align: center;
    color: var(--primary);
}


#technologies-section > p{
    margin: auto;
    color: gray;
    width: 80vw;
    overflow-wrap: break-word;
}


@media only screen and (min-width: 768px){
    #technologies-section > .technologies{
        grid-template-rows: none;
        grid-template-columns: repeat(3, 1fr);
        width: 95vw;
        gap: 20px;
    }

    #technologies-section > .technologies > .technology-wrapper > .technology{
        height: 200px;
    }
}

@media only screen and (min-width: 992px){
    /* #technologies-section > .technologies-header{
        font-size: 60px;
    } */

    #technologies-section > .technologies{
        width: 80vw;
        gap: 30px;
    }

    #technologies-section > .technologies > .technology-wrapper > .technology{
        height: 250px;
    }

    #technologies-section > p{
        width: fit-content;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1300px){
    #technologies-section > .technologies{
        gap: 75px;
        width: 65vw;
    }

    #technologies-section > .technologies > .technology-wrapper > .technology{
        height: 200px;
    }

    #technologies-section > .technologies > .technology-wrapper > .technology > img {
        height: auto;
        width: 30%;
    }

    #technologies-section > p{
        font-size: 30px;
    }
}