/* #technologies-section > .technologies-header{
    font-size: 30px;
    font-weight: bold;  
    margin: auto;
    width: fit-content;
} */

#technologies-section > .technologies{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 85vw;
}

#technologies-section > p{
    margin: auto;
    color: gray;
    width: 80vw;
    overflow-wrap: break-word;
}


@media only screen and (min-width: 768px){
    #technologies-section > .technologies{
        grid-template-rows: none;
        grid-template-columns: repeat(3, 1fr);
        width: 95vw;
        gap: 0px;
    }
}

@media only screen and (min-width: 992px){
    /* #technologies-section > .technologies-header{
        font-size: 60px;
    } */

    #technologies-section > .technologies{
        width: 80vw;
        gap: 30px;
    }

    #technologies-section > p{
        width: fit-content;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1300px){
    #technologies-section > .technologies{
        gap: 50px;
        width: 85vw;
    }

    #technologies-section > p{
        font-size: 30px;
    }
}