#project-section > .project-header{
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    width: fit-content;
}

@media only screen and (min-width: 1300px) {
    #project-section > .project-header{
        font-size: 60px;
    }
}