.project_card{
    display: grid;
    grid-template-areas: "picture" "description";
    width: 90vw;
    /* border: 1px solid var(--primary); */
    border-radius: 15px;
    margin: auto;
    margin-bottom: 80px;
    transition: 0.3s;
}

/* Styling for description */

.project_card > .project_description_div{
    display: grid;
    grid-area: description;
    background-color: var(--navy-light);
}

/* .project_card > .project_description_div > div{
    border: 1px solid white;
} */

.project_card > .project_description_div > .project_description{
    color: var(--primary);
    padding: 15px;
    /* height: fit-content; */
    /* border: 2px red solid; */
}

.project_card > .project_description_div > .project_title_wrapper{
    display: flex;
    justify-content: space-between;
    /* border: 2px yellow solid; */
}

.project_card > .project_description_div > .project_title_wrapper > .project_title > .project_title_text{
    display: grid;
    place-items: center;
   
    color: var(--primary);
    font-size: 22px;
    font-weight: bold;
    padding: 0px 10px;
    height: 100%;
}

.project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper{
    /* border: 2px solid salmon; */
    padding: 0px 8px;
    width: 30%;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a{
    /* border: 2px solid red; */
    height: 100%;
    padding: 10px;
}

.project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a > .project_link{
    color: white;
    font-size: 25px;
    transition: 0.5s;

    height: 100%;
}

.project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a > .project_link:hover{
    cursor: pointer;
    color: var(--primary);
}

/* Styling for tech stack */
.project_card > .project_description_div > .tech_stack_wrapper > .tech_stack{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px;

    color: var(--primary);
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    margin: 0px 10px;
    gap: 10px;
}

/* Styling for tablets */
@media screen and (min-width: 768px) {
    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper{
        padding: 0px 25px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a > .project_link{
        font-size: 50px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_title > .project_title_text{
        font-size: 50px;
    }
    
    .project_card > .project_description_div > .project_description{
        font-size: 30px;
    }

    .project_card > .project_description_div > .tech_stack_wrapper > .tech_stack{
        font-size: 35px;
        font-weight: normal;

        margin: 0px 20px;
    }
}

/* "Small" laptops, minimum 14 inches */
@media screen and (min-width: 1200px) {
    .project_card{
        width: 80vw;

        box-shadow: 15px 15px 10px rgb(20, 20, 20);
        height: 380px;
    }

    .project_card_picture_left{
        grid-template-columns: 55% auto;
        grid-template-areas: "picture description";
    }

    .project_card_picture_right{
        grid-template-columns: auto 55%;
        grid-template-areas: "description picture";
    }

    .project_card_picture_left > .project_description_div{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .project_card_picture_right > .project_description_div{
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_title > .project_title_text{
        font-size: 35px;
        padding: 0px 20px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper{
        width: 25%;
        padding: 0px 15px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a > .project_link{
        font-size: 30px;   
        /* border: 2px yellow solid;  */
    }

    .project_card > .project_description_div{
        grid-template-rows: 15% 70% auto;
    }

    .project_card > .project_description_div > .project_description{
        font-size: 20px;
    }

    .project_card > .project_description_div > .tech_stack_wrapper > .tech_stack{
        overflow-x: scroll;
        font-size: 20px;
        font-weight: normal;
    }

    .project_card:hover{
        transform: translateY(-10px);
        box-shadow: 15px 15px 10px var(--primary);
    }
}

/* Larger laptops and monitors. */
@media screen and (min-width: 1600px) {
    .project_card{
        height: 500px;
        margin-bottom: 100px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_title{
        padding: 5px 10px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_title > .project_title_text{
        font-size: 50px;
    }

    .project_card > .project_description_div > .tech_stack_wrapper > .tech_stack{
        font-size: 30px;
        font-weight: normal;
    }

    .project_card > .project_description_div > .project_description{
        font-size: 25px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper{
        width: 25%;
        padding: 5px 25px;
    }

    .project_card > .project_description_div > .project_title_wrapper > .project_links_wrapper > a > .project_link{
        font-size: 50px;   
    }
}