#hero-section{
    margin-left: 15%;
}

.hi{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);    
    margin-top: 100px;

}

.name{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.slogan{
    font-size: 60px;
    font-weight: bold;
    color: rgb(200, 200, 200);
}

.description{
    color: gray;
    width: 50vw;
    overflow-wrap: break-word;
}

.github-link{
    text-decoration: none;
    border: 3px solid var(--primary);
    border-radius: 5px;
    padding: 15px;
    color: var(--primary);
    transition: 0.3s;
}

.github-link:hover{
    background-color: var(--primary-transparent);
    color: var(--primary);
}

@media only screen and (max-width: 450px) {
    .name, .slogan{
        font-size: 35px;
        font-weight: bold;
    }

    .description{
        width: 90vw;
    }
}