#about-section{
    margin-left: 15%;
}

#about-section > .about-header{
    font-size: 40px;
    font-weight: bold;
}

.about-me{
    display: grid;
    grid-template-columns: 55% auto;
    gap: 5%;
    width: 80%;
}

.about-me-description{
    color: mintcream;
    overflow-wrap: break-word;
} 

#about-section > .about-me > .about-me-description > p{
    color: rgb(190, 190, 190);
}

#about-section > .about-me > .about-me-description > p > a {
    color: var(--primary);
    text-decoration: none;
    background-image: linear-gradient(var(--primary), var(--primary));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

#about-section > .about-me > .about-me-description > p >
a:hover,
a:focus,
a:active {
    color: var(--primary);
    background-size: 100% 0.1em;
}

#pic{
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px var(--secondary) solid;
    transition: 0.5s;
    margin: auto;
}

#pic:hover{
    border: 2px var(--primary) solid;
}

@media only screen and (max-width: 700px) {
    .about-me{
        display: initial;
    }

    .my-pic-div::before{
        content: "\a";
        white-space: pre;
    }
}
