.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.2s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); 
    transition: all 0.2s ease-in-out;
}

.link{
    margin-right: 1rem;
}

.link:hover{
    color: var(--baby-blue);
}

.social-icon{
    margin-left: 2rem;
    font-size: 20px;
    transition: 0.5s;
}

.social-icon:hover{
    color: var(--baby-blue);
    transform: translateY(-5px);
}

#logo{
    margin-left: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: auto;
    transition: 0.3s;
}

#logo:hover{
    height: 55px;
}

#resume{
    border: 2px solid var(--baby-blue);
    border-radius: 5px;
    margin-right: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--baby-blue);
    width: fit-content;
}

#resume:hover{
    background-color: var(--baby-blue-transparent);
}

nav{
    background-color: var(--dark-navy-transparent)
}

@media only screen and (max-width: 991px) {
    
}

@media only screen and (max-width: 500px) {
    #logo{
        margin-left: 1rem;
    }

    nav{
        background-color: var(--dark-navy);
    }
}