:root{
    --primary: #64f7ff;
    --primary-transparent: rgba(137, 207, 240, 0.3);
    --secondary: rgb(0, 4, 49);
    --secondary-transparent: rgba(0, 4, 49, 0.96);
    --cool-grey: #bebebe;
    --navy: rgb(0, 11, 49);
    --navy-light: rgb(30, 30, 30);
    --transparent: rgba(0, 0, 0, 0);
}